@model IEnumerable<Question>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Select
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Que)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OptionA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OptionB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OptionC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OptionD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Answer)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <input type="checkbox" name="Select" value="@item.QuestionId" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Que)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OptionA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OptionB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OptionC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OptionD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Answer)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.QuestionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.QuestionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.QuestionId })
        </td>
    </tr>
}

</table>