@model IEnumerable<Question>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("DeleteSelected", "Questions", FormMethod.Post))
{
<p>
    @Html.ActionLink("Create new", "Create", null, new { @class = "btn btn-primary" })
    <button type="submit" class="btn btn-danger" id="deleteSelected" >Delete selected</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <input type="checkbox" id="selectAll" name="selectAll" />
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Que)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer)
            </th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>@Html.EditorForModel()</tbody>

</table>
}

@Scripts.Render("~/bundles/mvcot")

<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $("#deleteSelected").prop("disabled", true);
        $("#addSelectedToTest").prop("disabled", true);
    });

    $("input[name='selected']").click(function () {
        if (!$("input[name='selected']").is(":checked")) {
            $("#deleteSelected").prop("disabled", true);
            $("#addSelectedToTest").prop("disabled", true);
        }
        else {
            $("#deleteSelected").prop("disabled", false);
            $("#addSelectedToTest").prop("disabled", false);
        }
    });

    $(function () {
        $("#selectAll").click(function () {
            if ($(this).is(":checked")) {
                $("input[name='selected']").prop("checked", true);
                $("#deleteSelected").prop("disabled", false);
                $("#addSelectedToTest").prop("disabled", false);
            }
            else {
                $("input[name='selected']").prop("checked", false);
                $("#deleteSelected").prop("disabled", true);
                $("#addSelectedToTest").prop("disabled", true);
            }

            $("input[name='selected']").click(function () {
                if ("input[name='selected']".length == "input[name='selected']:checked".length)
                    $("#selectAll").attr("checked", "checked");
                else
                    $("#selectAll").removeAttr("checked");
            });
        });

        $("#deleteSelected").click(function () {
            var count = $("input[name='selected']:checked").lenght;
            if (count)
                return confirm("Are you sure you wanna delete " + count + " questions?");
        });
    });
</script>