@model Question

@using (Ajax.BeginForm("Test", "StartTest", new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "Question" }))
{
    <div id="Question">
        <div class="row">
            <h4 class="col-md-7">@Model.Que</h4> <br />
            <h4 class="text-right col-md-5 countdown" id="timer">Timer</h4>
        </div>

        <input type="radio" name="option" value="@Model.OptionA" @(ViewBag.Option == Model.OptionA ? "checked" : "")/> @Model.OptionA <br />
        <input type="radio" name="option" value="@Model.OptionB" @(ViewBag.Option == Model.OptionB ? "checked" : "")/> @Model.OptionB <br />
        <input type="radio" name="option" value="@Model.OptionC" @(ViewBag.Option == Model.OptionC ? "checked" : "")/> @Model.OptionC <br />
        <input type="radio" name="option" value="@Model.OptionD" @(ViewBag.Option == Model.OptionD ? "checked" : "")/> @Model.OptionD <br />

        <hr />

        <div class="text-center">
            <button type="submit" class="btn-primary btn-lg glyphicon glyphicon-arrow-left" value="" name="previous" @(ViewBag.DisabledPrev == true ? "disabled" : "")></button>
            <button type="submit" class="btn-primary btn-lg glyphicon glyphicon-saved" value="" name="submit"></button>
            <button type="submit" class="btn-primary btn-lg glyphicon glyphicon-arrow-right" value="" name="next" @(ViewBag.DisabledNext == true ? "disabled" : "")></button>
        </div>
    </div>
}

@*@Scripts.Render("/bundles/mvcot")

<script type="text/javascript" src="~/Scripts/jquery.countdown.min.js"></script>

<script type="text/javascript">
    $('#timer').countdown(new Date().setSeconds(30)).on('update.countdown', function (event) {
        var format = '%H:%M:%S';
        $(this).html(event.strftime(format));
    })
    .on('finish.countdown', function (event) {
        $(this).html('This offer has expired!');
    });
</script>

@*<script>
// Set the date we're counting down to
var time = new Date().setMinutes(1, 10);

// Update the count down every 1 second
var x = setInterval(function() {

  // Get todays date and time
  var now = new Date().setSeconds(1);

  // Find the distance between now and the count down date
  var distance = time - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  document.getElementById("timer").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";
  }
}, 1000);
</script>*@*@